######################
# Compilation files
######################

*Makefile
*transcript
*make_*
*_history
*.html

######################
# Modelsim
######################

*.wlf
work/
*.out
modelsim.ini

######################
# Temporary files
######################

*#*
*~
*.swp
*.orig

######################
# Vivado/ISE files
######################

*.jou
*.log
*.str
*.xpr
*.edif
*.mif
.Xil/

# Chipscope defition files
*.cdc

# generated bitstream & report
*.bit
*.bgn
*_ngo/
*_xmsgs/
*iseconfig/
*xdb/
*xst/
*.log
*.csv
*.xml
*.xrpt
*.ipf
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prf
*.ptwx
*.stx
*.str
*.twx
*.ptwx
*.map
*.mrp
*.ngm
*.xsl
*.xwbt
*.lso
*.gise
*.bld
*.bmd_log
*.cmd_log
*.drc
*.ncd
*.prj
*.syr
*.twr
*.unroutes
*.ut
*.xpi
*.xst
*run.tcl
*.txt
*.clk_rgn
*.xdl
*.blc
*.cpj
*.psr
*.debug
*pa.*.tcl
*planAhead_run_*/

# Vivado stuff
*.cache/
*.runs/
*.hw/
*.srcs/
*.jou
*.log

# Vivado IP Core generator
/rtl/fofb_cc_rx_fifo/coregen/artix7
!/rtl/fofb_cc_rx_fifo/coregen/artix7/fofb_cc_rx_fifo.vhd
!/rtl/fofb_cc_rx_fifo/coregen/artix7/fofb_cc_rx_fifo.xci
!/rtl/fofb_cc_rx_fifo/coregen/artix7/fofb_cc_tx_fifo_sim_netlist.vhdl

/rtl/fofb_cc_tx_fifo/coregen/artix7
!/rtl/fofb_cc_tx_fifo/coregen/artix7/fofb_cc_tx_fifo.vhd
!/rtl/fofb_cc_tx_fifo/coregen/artix7/fofb_cc_tx_fifo.xci
!/rtl/fofb_cc_tx_fifo/coregen/artix7/fofb_cc_tx_fifo_sim_netlist.vhdl

/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_16_to_32
!/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_16_to_32/fofb_cc_fa_if_bram_16_to_32.vhd
!/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_16_to_32/fofb_cc_fa_if_bram_16_to_32.xci
!/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_16_to_32/fofb_cc_fa_if_bram_16_to_32_sim_netlist.vhdl

/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_32_to_32
!/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_32_to_32/fofb_cc_fa_if_bram_32_to_32.vhd
!/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_32_to_32/fofb_cc_fa_if_bram_32_to_32.xci
!/rtl/fofb_cc_fa_if/coregen/artix7/fofb_cc_fa_if_bram_32_to_32/fofb_cc_fa_if_bram_32_to_32_sim_netlist.vhdl

/rtl/chipscope/7series/ila_t8_d256_s16384
/rtl/chipscope/7series/ila_t8_d256_s8192_cap
/rtl/chipscope/7series/vio_din2_w64_dout2_w64

######################
# HDLmake
######################

*tcl_bitstream
*tcl_map
*tcl_par
*tcl_synthesize
*tcl_translate

*bitstream
*map
*par
*synthesize
*translate
*project

*bitstream.tcl
*map.tcl
*par.tcl
*synthesize.tcl
*translate.tcl
*project.tcl
*files.tcl

######################
# Impact files
######################

*impact.xsl
*impact_impact.xwbt
*usage_statistics_webtalk.html
*webtalk_impact.xml
